---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        <a href="https://github.com/mrivard/accessible-astro-starter-ts">Accessible Astro Starter for TypeScript</a> &copy; {currentYear}
        <a href="https://github.com/markteekman">Mark Teekman</a>.
        All rights to this software governed by <a href="https://github.com/mrivard/accessible-astro-starter-ts/blob/main/LICENSE">MIT License</a>.
      </p>
    </div>
  </section>
</footer>
